## 使用PyCaret建立红酒分类模型

In [1]:
import pandas as pd
import numpy as np

wine_df = pd.read_csv('winequality-red.csv', sep=';')

wine_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

### 将quality feature转为2分类（good or bad）

In [2]:
wine_df.quality = np.where(wine_df.quality >= 6,'Good', 'Bad')
wine_df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,Bad
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,Bad
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,Bad
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,Good
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,Bad

### 比较模型通过pycaret建立管道任务

In [3]:
from pycaret.classification import *

exp_clf101 = setup(data = wine_df, target = 'quality', session_id=123)

In [4]:
best = compare_models()

#### 归一化数据尝试第二次

In [5]:
exp_clf102 = setup(data = wine_df, target = 'quality', session_id=123,
                  normalize = True, 
                  transformation = True)

In [6]:
best = compare_models()

### 选择最好的ExtraTree作为分类器，并创建实例

In [7]:
et_model = create_model('et')

#### 对该模型进行可视化评估

In [8]:
evaluate_model(et_model)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Hyperparameters', 'param…

### 在验证集上验证，观察效果

In [9]:
predict_model(et_model)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,Label,Score
0,1.020581,-0.262296,0.879957,0.909533,-0.811347,-1.540063,-1.767548,-0.001569,0.179457,-0.026236,1.507610,Good,Good,0.89
1,0.803863,0.365869,0.069877,0.182416,0.169895,0.853209,1.990033,0.562903,-0.216541,-0.678425,-1.071247,Bad,Bad,0.94
2,-0.548122,1.883332,-0.893325,-0.877416,-0.243956,0.627023,0.590837,-0.012133,0.309834,-0.575997,-1.403918,Bad,Bad,0.81
3,0.107496,-1.862383,0.790677,-0.626785,-0.545447,-0.666586,-1.164982,-1.619910,-0.619242,-0.783883,1.558460,Good,Good,0.85
4,-0.094433,-0.848963,-0.143037,-0.877416,-0.079076,0.853209,0.377183,-0.235514,-0.150025,0.344380,-1.234925,Bad,Bad,0.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
475,-0.548122,-0.140170,0.322105,-0.184957,-1.025574,1.330907,0.533355,0.282230,-0.017590,0.205903,-0.205644,Good,Good,1.00
476,1.829882,-0.021413,1.097942,0.007672,0.466399,-1.351650,-1.357754,1.774646,-0.754683,-2.001296,-0.760154,Bad,Bad,1.00
477,-0.629846,-0.781016,0.222956,-0.877416,-0.301560,1.330907,0.934478,0.056549,0.761128,-0.287096,-0.912961,Good,Good,1.00
478,0.936322,-1.341851,0.654246,-1.148800,-1.025574,-1.735218,-1.697012,-1.047378,-1.095523,-0.476619,1.112168,Good,Good,0.89
479,0.170878,0.520094,-0.035362,0.007672,1.252116,-0.666586,-0.045370,-0.310423,-1.027116,-0.892354,-0.471348,Bad,Bad,1.00

### 保存模型到本地化pickle文件

In [10]:
save_model(et_model, model_name = 'extra_tree_model')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=None,
          steps=[('dtypes',
                  DataTypes_Auto_infer(categorical_features=[],
                                       display_types=True, features_todrop=[],
                                       id_columns=[],
                                       ml_usecase='classification',
                                       numerical_features=[], target='quality',
                                       time_features=[])),
                 ('imputer',
                  Simple_Imputer(categorical_strategy='not_available',
                                 fill_value_categorical=None,
                                 fill_value_numerical=None,
                                 numeric_stra...
                  ExtraTreesClassifier(bootstrap=False, ccp_alpha=0.0,
                                       class_weight=None, criterion='gini',
                                       max_depth=None, max_features='auto',
                                       max_leaf_nodes=None, max_samples=None,
                                       min_impurity_decrease=0.0,
                                       min_impurity_split=None,
                                       min_samples_leaf=1, min_samples_split=2,
                                       min_weight_fraction_leaf=0.0,
                                       n_estimators=100, n_jobs=-1,
                                       oob_score=False, random_state=123,
                                       verbose=0, warm_start=False)]],
          verbose=False),
 'extra_tree_model.pkl')