## 使用PyCaret建立红酒分类模型

In [1]:
import pandas as pd
import numpy as np

wine_df = pd.read_csv('winequality-red.csv', sep=';')

wine_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

### 将quality feature转为2分类（good or bad）

In [2]:
wine_df.quality = np.where(wine_df.quality >= 6,'Good', 'Bad')
wine_df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,Bad
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,Bad
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,Bad
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,Good
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,Bad

### 比较模型通过pycaret建立管道任务

In [3]:
from pycaret.classification import *

exp_clf101 = setup(data = wine_df, target = 'quality', session_id=123)

Setup Succesfully Completed!

In [4]:
best = compare_models()

#### 归一化数据尝试第二次

In [4]:
exp_clf102 = setup(data = wine_df, target = 'quality', session_id=123,
                  normalize = True, 
                  transformation = True)

Setup Succesfully Completed!

In [5]:
best = compare_models()

### 选择最好的ExtraTree作为分类器，并创建实例

In [6]:
et_model = create_model('et')

#### 对该模型进行可视化评估

In [7]:
evaluate_model(et_model)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Hyperparameters', 'param…

### 在验证集上验证，观察效果

In [8]:
predict_model(et_model)

,Model,Accuracy,AUC,Recall,Prec.,F1,Kappa,MCC
0,Extra Trees Classifier,0.8146,0.8983,0.8288,0.8256,0.8272,0.6272,0.6272

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,Label,Score
0,-0.005604,0.394596,0.136158,1.140747,-0.747088,0.742605,1.668267,0.302880,-0.576412,-0.792626,-1.086355,Good,Bad,0.17
1,-0.769331,0.600717,-0.999232,-0.883571,-0.126655,-0.796673,-0.707976,0.565035,1.088545,-0.904344,-1.749849,Bad,Bad,0.31
2,0.249192,1.056111,-0.293609,0.344431,-0.126655,-0.479653,-0.003577,0.329166,0.019022,0.145317,-1.086355,Bad,Bad,0.22
3,-0.522435,0.063170,0.336652,-0.184197,-0.482036,2.201986,0.964234,-1.371097,0.212476,1.130120,1.826208,Good,Good,0.91
4,-0.443413,2.926164,-1.502162,1.623971,0.754724,-1.325466,-1.326805,-0.067088,1.995006,-0.792626,0.494160,Bad,Bad,0.08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
475,0.678236,0.177116,0.287344,0.185945,1.145283,-0.332051,-0.003577,0.139514,-0.442392,-0.578801,0.658770,Bad,Bad,0.46
476,-0.443413,-0.968102,0.187128,0.612182,0.399926,1.089754,1.006003,-0.146889,0.529757,0.426514,0.735837,Bad,Good,0.83
477,1.888491,-0.692787,1.199605,-0.397363,-1.267137,-1.142205,-0.707976,1.395468,-1.814347,-0.190145,-1.245039,Good,Good,0.67
478,-1.495902,0.650741,0.287344,-1.158059,0.440161,0.183230,0.830077,0.091949,0.965523,1.003909,-1.245039,Bad,Bad,0.37
479,0.578937,-0.760635,0.715050,-2.481655,-2.635054,1.026115,0.447616,-1.045039,-0.711262,1.170071,0.658770,Good,Good,0.83

### finalize_model 结束过程

In [9]:
finalize_model(et_model)

ExtraTreesClassifier(bootstrap=False, ccp_alpha=0.0, class_weight=None,
                     criterion='gini', max_depth=None, max_features='auto',
                     max_leaf_nodes=None, max_samples=None,
                     min_impurity_decrease=0.0, min_impurity_split=None,
                     min_samples_leaf=1, min_samples_split=2,
                     min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=-1,
                     oob_score=False, random_state=123, verbose=0,
                     warm_start=False)

### 保存模型到本地化pickle文件

In [10]:
save_model(et_model, model_name = 'extra_tree_model')

Transformation Pipeline and Model Succesfully Saved

## 测试是否能够上线

In [1]:
from pycaret.classification import load_model, predict_model
import streamlit as st
import pandas as pd
import numpy as np

2022-04-03 13:38:08.004 INFO    numexpr.utils: Note: NumExpr detected 12 cores but "NUMEXPR_MAX_THREADS" not set, so enforcing safe limit of 8.
2022-04-03 13:38:08.005 INFO    numexpr.utils: NumExpr defaulting to 8 threads.

In [2]:
def predict_quality(model, df):
    
    predictions_data = predict_model(estimator = model, data = df)
    
    return predictions_data['Label'][0]
    
model = load_model('extra_tree_model')

Transformation Pipeline and Model Successfully Loaded

In [3]:
features = {'fixed acidity': 10, 'volatile acidity': 1,
            'citric acid': 0.38, 'residual sugar': 5.9,
            'chlorides': 0.638, 'free sulfur dioxide': 51,
            'total sulfur dioxide': 144, 'density': 0.99,
            'pH': 3, 'sulphates': 0.5, 'alcohol': 10.5
            }
 

features_df  = pd.DataFrame([features])
features_df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,10,1,0.38,5.9,0.638,51,144,0.99,3,0.5,10.5

In [4]:
prediction = predict_quality(model, features_df)

In [5]:
str(prediction)

'Good'

In [1]:
!streamlit run streamlit_app.py

^C